@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

/***** 전체 커스텀 *****/
* {
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}
html,body {
    width: 100%;
    height: 100%;
}
#wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    font-size: 15px;
    letter-spacing: -0.6px;
}
/* 부트스트랩 버튼 클릭 테두리 없애기 */
button:active, button:focus {
    outline:none !important;
    box-shadow:none !important;
}
input:active, input:focus {
    outline:none !important;
    box-shadow:none !important;
}
/***** 모바일 메뉴 커스텀 *****/
header {
    width: 100%;
}
.mb-top-nav {
    width: 100%;
    height: 4.5em;
}
.mb-top-nav.scroll {
    background-color: #fff;
}
.mb-top-nav .top-logo {
    height: 2.2em;
}
.mb-top-nav .top-logo img {
    object-fit: contain;
}
.mb-btm-nav {
    width: 100%;
    height: 5em;
    background-color: #f5f5f5;
    font-weight: 600;
}
.mb-btm-nav ul li {
    width: 25%;
    font-size: 0.85em;
}
.mb-btm-nav ul li span::before {
    content: '';
    display: block;
    margin: 0 auto 5px auto;
    width: 25px;
    height: 28px;
}
.mb-btm-nav ul li:nth-child(1) span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -59px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(1) a.active span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -90px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(2) span::before {
    background: url(../img/ic-menu.png) no-repeat 50% 3px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(2) a.active span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -28px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(3) span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -120px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(3) a.active span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -150px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(4) span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -182px;
    background-size: 25px 240px;
}
.mb-btm-nav ul li:nth-child(4) a.active span::before {
    background: url(../img/ic-menu.png) no-repeat 50% -214px;
    background-size: 25px 240px;
}
/* 푸터 영역 */
footer {
    width: 100%;
    height: auto;
    background-color: #555;
    margin-bottom: 5em;
    font-size: 0.9em;
}
footer .map {
    height: 16em;
}
footer > div:nth-child(2) {
    max-width: 1200px;
}
.footer-icon-wrap span {
    cursor: pointer;
}
footer .footer-icon {
    width: 30px;
}
footer small {
    font-size: 0.85em;
}
.bottom-logo img:first-child {
    height: 35px;
}
.bottom-logo img:last-child {
    height: 25px;
}
.footer-icon-wrap span {
    width: 32px;
    height: 32px;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.5em;
}
.footer-icon-wrap span:first-child i {
    font-size: 1.15em;
}
footer .bottom-logo {
    margin-bottom: 74px;
}
@media (min-width: 768px) {
    /* 푸터 영역 */
    footer .map {
        height: 20em;
    }
    .footer-title::after {
        display: block;
        width: 35px;
        height: 3q;
        background-color: #eee;
        content: "";
        margin-top: 8px;
    }
    .footer-right-img {
        right: 20px;
    }
    .footer-right-img img:first-child {
        height: 40px;
    }
    .footer-right-img img:nth-child(2){
        height: 20px;
    }
}
@media (min-width: 992px) {
    .dt-nav {
        width: 100%;
        height: 5em;
    }
    .dt-nav.scroll {
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }
    .dt-nav.scroll > div {
        padding: 0;
    }
    .dt-nav a:not(.top-logo) {
        color: #fff;
        font-weight: 600;
        padding: 0;
    }
    .dt-nav.scroll a {
        color: #000;
    }
    .dt-nav > div > div {
        max-width: 2000px;
    }
    .dt-nav .top-logo {
        height: 3.5em;
        margin: 15px 12px 15px 0;
        transition: all 0.5s;
    }
    .dt-nav.scroll .top-logo {
        height: 3em;
        margin: 0 12px 0 0;
    }
    .dt-nav .top-logo img {
        object-fit: contain;
    }
    .dt-nav ul {
        line-height: 4.5em;
    }
    .dt-nav ul > li:last-child i {
        font-size: 1.3em;
    }
    .dt-nav ul > li a::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #ddd;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.4s;
    }
    .dt-nav.scroll ul > li a::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 2px;
        background-color: #555;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.4s;
    }
    .dt-nav ul > li a:hover::after {
        width: 90%;
    }
    /* 푸터 영역 */
    footer {
        margin-bottom: 0;
    }
    footer .inner ul {
        font-size: 1em;
    }
    footer .top {
        height: 220px
    }
    footer .mid .inner p:first-child {
        font-size: 1.1em;
    }
}
/************ 메인 배너 영역 ***********/
.main-banner-wrap {
    width: 100%;
    height: 100vh;
}
.main-banner-wrap .banner-inner .main-swiper {
    width: 100%;
    height: 100vh;
}
.main-banner-wrap .banner-inner .main-swiper .swiper-slide {
    position: relative;
}
.main-banner-wrap .banner-inner .main-swiper .slide1 {
    background: url(../img/main_banner_01.jpg) center no-repeat;
    background-size: cover;
}
.main-banner-wrap .banner-inner .main-swiper .slide2 {
    background: url(../img/main_banner_02.jpg) center no-repeat;
    background-size: cover;
}
.main-banner-wrap .banner-inner .main-swiper .slide3 {
    background: url(../img/main_banner_03.jpg) center no-repeat;
    background-size: cover;
}
.main-banner-wrap .banner-inner .main-swiper .slide4 {
    background: url(../img/main_banner_04.jpg) center no-repeat;
    background-size: cover;
}
.main-banner-wrap .banner-inner .main-swiper .slide5 {
    background: url(../img/main_banner_05.jpg) center no-repeat;
    background-size: cover;
}
.txt-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    text-shadow: 2px 2px 3px #222;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
@media (min-width: 992px) {
    .main-banner-wrap strong {
        font-size: 2em !important;
    }
    .main-banner-wrap p {
        font-size: 1.2em;
    }
    .txt-wrap {
        top: inherit;
        bottom: 0;
        left: 30px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 15px;
    }
    .main-banner-wrap .swiper .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 0.6;
    }
    .main-banner-wrap .swiper-pagination-bullet-active {
        opacity: 1 !important;
        background: #000 !important;
    }
    .main-banner-wrap .main-swiper .swiper-button-prev, 
    .main-banner-wrap .main-swiper .swiper-button-next {
        display: none;
    }
    .main-banner-wrap .main-swiper:hover .swiper-button-prev, 
    .main-banner-wrap .main-swiper:hover .swiper-button-next {
        display: block;
    }
    .main-banner-wrap .main-swiper .swiper-button-prev {
        width: 20px !important;
        height: 20px !important;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
        left: 20px !important;
    }
    .main-banner-wrap .main-swiper .swiper-button-next {
        width: 20px !important;
        height: 20px !important;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        right: 20px !important;
    }
}
/************ 플로팅 버튼 영역 ***********/
.float-btn {
    width: 200px;
    height: auto;
    position: fixed;
    right: 15px;
    bottom: 10em;
    z-index: 999;
    display: none;
}
.float-btn .btn-box {
    width: 100%;
    height: auto;
    position: relative;
}
.float-btn .btn-box i {
    font-size: 1.3em;
}
.float-btn .btn-box a span {
    margin-right: 18px;
}
.float-btn .btn-box i::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.float-btn > div a {
    color: #000;
    font-size: 0.9em;
}
.float-btn > div a i {
    color: #fff;
}
.float-btn-plus {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 6em;
    z-index: 999;
}
.float-btn-plus a {
    background-color: #666;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.float-btn-plus a span {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.float-btn-plus a span:nth-child(2) {
    transform: rotate(90deg);
    left: 28%;
}
@media (min-width: 992px) {
    .float-btn {
        right: 50px;
        bottom: 7em;
    }
    .float-btn-plus {
        right: 60px;
        bottom: 50px;
    }
}
/************ 예약 영역 ***********/
.reserve {
    width: 100%;
    height: auto;
}
.reserve button {
    font-weight: 500;
}
.reserve button span {
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
}
.reserve .modal-content {
    border: none;
}
.reserve .modal-footer {
    justify-content: center;
}
/* .daterangepicker */
.modal-body .daterangepicker::before {
    display: none;
}
.modal-body .daterangepicker.show-calendar .calendar {
    display: flex !important;
}
.modal-body .daterangepicker {
    position: relative;
    width: 100%;
    background-color: transparent;
    border-radius: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0 !important;
}
.modal-body .daterangepicker_input {
    display: none;
}
.modal-body .title-year {
    display: none;
}
.modal-body .calendar {
    width: 98% !important;
    justify-content: center;
    flex-grow: 1;
}
.modal-body .calendar input {
    display: none;
}
.modal-body .daterangepicker .calendar-table {
    width: 100%;
    height: 100%;
    border: none !important;
    background-color: transparent;
}
.modal-body .calendar-table th, 
.modal-body .calendar-table td {
    padding: 6px;
    padding-left: 4px;
    padding-right: 4px;
}
.modal-body .calendar-table .table-condensed th,
.modal-body .calendar-table .table-condensed td {
    font-size: 0.95em !important;
    font-weight: normal !important;
}
.modal-body .calendar-table thead .month {
    font-size: 1.15em !important;
    font-weight: 700 !important;
}
.modal-body .calendar.right {
    width: 0 !important;
    visibility: hidden;
}
.modal-body .calendar.left .next {
    position: absolute;
    right: 0;
}
.modal-body .calendar.left .month {
    transform: translateX(-20%);
}
.modal-body .daterangepicker td.active,
.modal-body .daterangepicker td.in-range {
    background-color: #000;
    color: #fff;
}
.modal-body .start-date {
    border-radius: 20px 0 0 20px !important;
}
.modal-body .end-date {
    border-radius: 0 20px 20px 0 !important;
}
.modal-body .daterangepicker .calendar-table td.disabled {
    border-radius: 0 !important;
    background-color: #eee !important;
}
@media (min-width:768px) {
    .reserve button {
        padding: 15px;
    }
    .modal-dialog {
        max-width: 1000px;
    }
    /* .daterangepicker */
    .modal-body .calendar.right {
        width: 48% !important;
        visibility: visible;
    }
    .modal-body .calendar.left .month {
        transform: translateX(0%);
    }
    .modal-body .daterangepicker .calendar-table {
        width: 80%;
        height: 100%;
        border: none !important;
        background-color: transparent;
    }
    .modal-body .calendar {
        width: 48% !important;
        justify-content: center;
    }
    .modal-body .calendar-table thead .month {
        text-align: start;
        padding-bottom: 25px;
    }
    .modal-body .calendar.left .month {
        padding-left: 0;
    }
    .modal-body .calendar.right .month {
        padding-left: 2.9em;
    }
    .modal-body .calendar-table th, .calendar-table td {
        padding-left: 13px;
        padding-right: 13px;
    }
    .modal-body .calendar-table th.next,
    .modal-body .calendar-table th.prev {
        position: absolute;
        top: 50%;
    }
    .modal-body .calendar-table th.next:hover,
    .modal-body .calendar-table th.prev:hover {
        background-color: none !important;
    }
    .modal-body .calendar-table th.next {
        right: 0px;
    }
    .modal-body .calendar-table th.prev {
        left: -5px;
    }
}
@media (min-width: 992px) {
    .btn-wrap {
        width: 90%;
        margin: 0 auto;
        border-bottom: 2px solid #ddd;
    }
    /* .daterangepicker */
    .modal-body .calendar {
        width: 48% !important;
        justify-content: center;
    }
    .modal-body .calendar-table th, .calendar-table td {
        padding-left: 17px;
        padding-right: 17px;
    }
    .modal-body .calendar.right .month {
        padding-left: 3.5em;
    }
}
/************ 룸 소개 영역 ***********/
.room {
    width: 100%;
    margin: 0 auto;
}
.room::before {
    content: '';
    width: 100%;
    height: 20em;
    position: absolute;
    left: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    z-index: -1;
}
.room .inner {
    width: 100%;
    height: 25em;
}
.room .inner h3::after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: calc(-100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
}
.room .room-slider {
    width: 100%;
    position: absolute;
    top: 50%;
}
.room .room-slider .img-box {
    width: 270px;
    height: 270px;
}
.room .room-slider .img-box img {
    background-size: cover;
}
.room .room-slider .text-wrap {
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
}
.room .room-slider .text-wrap div:not(:first-child) {
    font-size: 0.85em;
}
.room .room-slider .text-wrap div a {
    letter-spacing: 1px;
}
@media (min-width: 992px) {
    .room::before {
        width: 55%;
        height: 45em;
        border-top: none;
    }
    .room .inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: 45em;
        background-color: transparent;
        border-top: none;
    }
    .room .inner h3 {
        letter-spacing: 1px;
        font-size: 2.5em !important;
    }
    .room .inner h3::after {
        position: relative;
        width: 80px;
        height: 4px;
        margin-top: 20px;
        left: 40px;
    }
    .room .room-slider {
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
    }
    .room .room-slider .swiper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .room .room-slider .swiper-wrapper {
        padding-left: 40px;
    }
    .room .room-slider .img-box {
        width: 500px;
        height: 500px;
    }
    .room .room-slider .swiper-button-prev,
    .room .room-slider .swiper-button-next {
        opacity: 1 !important;
        width: 50px;
        height: 50px;
        background-color: #000;
        border-radius: 50%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .room .room-slider .swiper-button-prev {
        left: 20px;
    }
    .room .room-slider .swiper-button-next {
        left: 90px;
    }
    .room .room-slider .swiper-button-prev::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
        margin-left: 5px;
    }
    .room .room-slider .swiper-button-next::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        margin-right: 10px;
    }
    .room .room-slider .text-wrap {
        font-size: 1.15em;
    }
    .room .room-slider .text-wrap .name {
        font-size: 1.5em !important;
    }
    .room .room-slider .text-wrap div:not(:first-child) {
        font-size: 0.85em;
    }
}
/************ About 영역 ***********/
.about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
}
.about-swiper {
    width: 100%;
    height: 20em;
    max-width: 600px;
}
@media (min-width: 992px) {
    .about-swiper {
        height: 24em;
    }
}
/************ boseong 영역 ***********/
.boseong {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.boseong .inner .img-box img {
    object-fit: contain;
}
.boseong .inner .top {
    width: 100%;
}
@media (min-width: 768px) {
    .boseong .inner > div > div {
        width: 32%;
    }
}
@media (min-width: 992px) {
    .boseong .inner > div > div p {
        font-weight: 500;
    }
}
/************ 지도 영역 ***********/
.map {
    width: 100%;
    height: 23em;
}
/************ 예약 페이지 ***********/
.reservation header {
    width: 100%;
    height: 4em;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(30 30 30 / 20%);
    position: fixed;
    top: 0;
    z-index: 9999999;
}
.reservation header .row > div:nth-child(2) {
    height: 2.5em;
}
.reservation header .row > div:nth-child(2) img {
    object-fit: contain;
}
.reservation header button {
    border: 1px solid #000;
    font-size: 0.8em;
}
.reservation .step {
    width: 100%;
    background-color: #000;
    font-size: 0.9em;
    margin-top: 60px;
}
.reservation .top-title {
    width: 100%;
    background-color: #333;
    font-size: 0.9em;
}
.reservation .step .title {
    width: 100%;
}
.cal-section {
    width: 100%;
    background-color: #eee;
    height: auto;
}
.cal-section .inner {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* 달력 영역 */
.cal-section .cal-wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
.cal-wrap .daterangepicker::before,
.cal-wrap .daterangepicker::after {
    display: none;
}
.cal-wrap .daterangepicker {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0 !important;
    padding-bottom: 100px;
}
.cal-wrap .calendar.right {
    width: 0 !important;
    visibility: hidden;
}
.cal-wrap .calendar {
    width: 98% !important;
    display: flex;
    justify-content: center;
}
.cal-wrap .daterangepicker .calendar-table {
    width: 98%;
    height: 100%;
    border: none;
    background-color: transparent;
}
.cal-wrap .calendar-table th, 
.cal-wrap .calendar-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cal-wrap .daterangepicker .calendar-table th, 
.cal-wrap .daterangepicker .calendar-table td {
    border-radius: 0;
    min-width: auto;
}
.cal-wrap .daterangepicker .calendar-table th, 
.cal-wrap .daterangepicker .calendar-table td {
    font-size: 0.9em;
    font-weight: 400 !important;
    border: 1px solid #ddd;
}
.cal-wrap .daterangepicker .calendar-table tr:first-child th {
    border: none;
}
.cal-wrap .daterangepicker .calendar-table tr:nth-child(2) th {
    border-left: none;
    border-top: none;
    border-right: none;
}
.cal-wrap .daterangepicker td.disabled,
.cal-wrap .daterangepicker option.disabled {
    color: #fff;
    background-color: #aaa;
    text-decoration: none;
}
.cal-wrap .daterangepicker .calendar.left table thead tr:nth-child(1) {
    position: relative;
}
.cal-wrap .daterangepicker .calendar.left .prev,
.cal-wrap .daterangepicker .calendar.left .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-top: 1px solid #555;
    padding: 0;
}
.cal-wrap .daterangepicker .calendar .month {
    padding-top: 20px;
}
.cal-wrap .daterangepicker .calendar.left .prev {
    left: 10px;
    border-left: 1px solid #555;
    transform: rotate(-45deg);
}
.cal-wrap .daterangepicker .calendar.left .next {
    right: 10px;
    border-right: 1px solid #555;
    transform: rotate(45deg);
}
.cal-wrap .daterangepicker .calendar .today {
    background-color: transparent !important;
    color: #000 !important;
    position: relative;
}
.cal-wrap .daterangepicker .calendar .today::after {
    content: '';
    display: inline-block;
    width: 97%;
    height: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}
.cal-wrap .start-date,
.cal-wrap .end-date,
.cal-wrap .in-range {
    color: #fff !important;
    background-color: #000 !important;
    position: relative;
}
.cal-wrap .start-date::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 12px solid #fff;
    border-right: 12px solid #000;
}
.cal-wrap .end-date::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 12px solid #fff;
    border-left: 12px solid #000;
}
.cal-wrap .daterangepicker_input {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.cal-wrap .daterangepicker_input > div {
    text-align: end;
}
.cal-wrap .daterangepicker_input > div input {
    padding-right: 10px;
    text-align: end;
}
/* 캘린더 선택 후 콘텐츠 영역 */
.reservation .content {
    width: 100%;
    height: auto;
    background-color: #eee;
}
.reservation .content .inner {
    width: 100%;
    background-color: #fff;
}
.reservation .content .inner > div {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.reservation .content .inner .item .swiper {
    width: 100%;
    height: 15em;
}
.reservation .content .inner .item .swiper img {
    object-fit: cover;
}
.reservation .content .inner .item .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.5;
}
.reservation .content .inner .item .swiper-pagination-bullet-active {
    opacity: 1;
}
.reservation .content .inner .item .swiper .swiper-button-prev {
    width: 16px !important;
    height: 16px !important;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    left: 20px !important;
}
.reservation .content .inner .item .swiper .swiper-button-next {
    width: 16px !important;
    height: 16px !important;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    right: 20px !important;
}
.reservation .content .item .inner .top p,
.reservation .content .item .inner .btm button,
.reservation .content > .inner .room-detail > div > div > p,
.reservation .content > .inner .room-detail h6,
.reservation .content > .inner .room-detail .img-wrap p {
    font-size: 0.9em
}
.reservation .content > .inner .room-detail h6 {
    letter-spacing: 1px;
    font-weight: 700;
    width: 140px;
}
.reservation .content > .inner > a {
    font-size: 0.9em;
    font-weight: 500;
}
.reservation .content > .inner > a span {
    width: 8px;
    height: 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
}
.reservation .content > .inner .room-detail .img-wrap > div {
    width: 80px;
} 
.reservation .content > .inner .room-detail .img-box {
    width: 50px;
    height: 50px;
    background-color: #555;
}
.reservation .content > .inner .room-detail {
    display: none;
}
.reservation .content > .inner > .show {
    display: block;
}
.reservation .content > .inner .more-btn {
    cursor: pointer;
}
.show-more-btn {
    padding-top: 15px;
}
/* 환불규정 영역 */
.refund-section {
    background-color: #fff;
}
/* css 추가 */
.refund-section > div { 
    max-width: 1200px;
    margin: 0 auto;
}
.refund-section .table-wrap h6 {
    font-weight: 700;
}
.refund-section .table-wrap p,
.refund-section .table-wrap table,
.refund-section .table-wrap h6,
.refund-section .table-wrap table th {
    font-size: 0.9em;
}
.refund-section .table-wrap table {
    color: #555;
}
@media (min-width: 768px) {
    /* 달력 영역 */
    .cal-wrap {
        padding-top: 20px;
    }
    .cal-wrap .daterangepicker .calendar-table th, 
    .cal-wrap .daterangepicker .calendar-table td {
        font-size: 1em;
    }
    .cal-wrap .daterangepicker_input {
        left: 0;
    }
    .reservation .content .inner .item .swiper {
        height: 30em;
    }
}
@media (min-width: 992px) {
    .reservation header {
        height: 7em;
    }
    .reservation header .row > div:nth-child(2) {
        height: 3.2em;
    }
    .reservation header button {
        font-weight: 700;
    }
    .reservation .step {
        margin-top: 105px;
    }
    .reservation .step .title {
        width: 20%;
        border-right: 1px solid #555;
    }
    .reservation .step > div span {
        color: #777;
    }
    .reservation .top-title .title {
        width: 20%;
        border-right: 1px solid #555;
    }
    /* 달력 영역 */
    .cal-wrap .daterangepicker {
        max-width: 750px;
        justify-content: space-between;
    }
    .cal-wrap .daterangepicker .calendar {
        width: 47% !important;
    }
    .cal-wrap .daterangepicker .calendar.right {
        visibility: visible;
    }
    .cal-wrap .daterangepicker .calendar.right .month {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .cal-wrap .daterangepicker .calendar.left .next {
        right: calc(-100%);
        transform: translateX(35px) rotate(45deg);
    }
    .cal-wrap .calendar.left .daterangepicker_input {
        display: flex;
        border-top: 2px solid #000;
    }
    .cal-wrap .daterangepicker_input > div {
        margin-left: auto;
    }
    .cal-wrap .calendar-table th, 
    .cal-wrap .calendar-table td {
        padding: 13px 18px 13px 18px;
    }
    .reservation .content > .inner .room-detail {
        display: block;
    }
}
/************ 소개 페이지 ***********/
.intro > section {
    width: 100%;
    height: 100vh;
}
.intro > section:nth-child(1) {
    background: url(../img/boseong_01.jpg) center no-repeat;
    background-size: cover;
}
.intro > section:nth-child(2) {
    background: url(../img/boseong_02.jpg) center no-repeat;
    background-size: cover;
}
.intro > section:nth-child(3) {
    background: url(../img/boseong_03.jpg) center no-repeat;
    background-size: cover;
}
.intro > section:nth-child(4) {
    background: url(../img/boseong_04.jpg) center no-repeat;
    background-size: cover;
}
.intro > section > div {
    max-width: 1200px;
}
.intro > section > div .inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro > section > div span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    transform: rotate(45deg);
}
@media (min-width: 768px) {
    .intro > section > div .inner {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .intro > section > div .inner {
        width: 55%;
    }
    .intro > section > div span {
        bottom: 15px;
    }
}
/************ 둘러보기 페이지 ***********/
.sub-banner {
    width: 100%;
    height: 18em;
    background: url(../img/main_banner_02.jpg) no-repeat center;
    background-size: cover;
}
.txt-img {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    position: relative;
    top: -60px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}
.txt-img .img-box {
    height: 13em;
}
.txt-img .img-box img {
    object-fit: cover;
}
.story .txt-top {
    background-color: #333;
}
.story .content {
    max-width: 1200px;
    margin: 0 auto;
}
.story .content h5 {
    letter-spacing: 5px;
    font-weight: 600;
}
.story .content .inner .item1,
.story .content .inner .item2 {
    width: 100%;
    height: 45em;
}
.story .content .inner .swiper {
    width: 100%;
    height: 44em;
}
.story .content .inner .swiper-wrapper .swiper-slide .txt-box {
    width: 85%;
    height: 43em;
    left: 15px;
    background-color: #f8f8f8;
}
.story .content .inner .swiper-wrapper .swiper-slide .txt-box > div:first-child {
    width: 80%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
}
.story .content .inner .swiper-wrapper .swiper-slide .img-box {
    width: 100%;
    height: 12em;
    bottom: 35px;
    right: -20px;
    z-index: 9;
    box-shadow: 5px 5px 8px -5px rgba(0, 0, 0, 0.4);
}
.story .content .inner .swiper-wrapper .swiper-slide .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .content .inner .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: 100%;
}
.story .content .inner .swiper-pagination-progressbar-fill {
    --swiper-theme-color: #000;
}
.story .content .inner > div:nth-child(3) {
    margin-top: 150px;
}
@media (min-width: 768px) {
    .txt-img .img-box {
        height: 16em;
    }
}
@media (min-width: 992px) {
    .sub-banner {
        height: 25em;
    }
    .txt-img {
        height: auto;
    }
    .txt-img .img-box {
        height: 20em;
    }
}
/************ 이용/예약 페이지 ***********/
.rooms .content {
    max-width: 1200px;
    margin: 0 auto;
}
.rooms .content > ul > li {
    width: 25%;
}
.rooms .txt-box ul li {
    list-style: none;
}
.rooms .content .inner .img-box {
    height: 16em;
}
.rooms .content h5 {
    font-weight: 600;
}
/* 페이지네이션 공통 (이용/예약, 게시판) 시작 */
.content .page-item .page-link {
    border: 0;
    color: #555;
    font-size: 0.9em;
}
.content .page-item.active .page-link {
    background-color: transparent;
    font-weight: 700;
}
/* 페이지네이션 공통 (이용/예약, 게시판) 끝 */
.rooms .refund ul li {
    list-style: none;
}
.rooms .refund h6,
.rooms .sightseeing h6 {
    font-size: 0.95em;
    font-weight: 600;
}
.rooms .refund table,
.rooms .sightseeing table,
.rooms .payment table {
    font-size: 0.9em;
} 
.rooms .payment table ul li > ul > li {
    list-style: ' -  ';
}
@media (min-width: 992px) {
    .rooms .content .inner .img-box {
        height: 18em;
    }
}
/************ 게시판 페이지 ***********/
.notice .content {
    max-width: 1200px;
    margin: 0 auto;
}
.notice .content > ul > li {
    width: 50%;
}
.notice .content .top > div:last-child {
    max-width: 600px;
}
.notice .content .top form label select,
.notice .content .top form label input {
    font-size: 0.9em;
}
.notice .content .list table {
    width: 150%;
    font-size: 0.95em;
    table-layout: fixed;
}
.notice .content .list table a {
    color: #000;
}
.notice .content .list table tbody td:nth-child(2) {
    text-align: left !important;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice .content .list table thead th:nth-child(1),
.notice .content .list table thead th:nth-child(5) {
    width: 15%;
}
.notice .content .list table thead th:nth-child(2) {
    width: 50%;
}
.notice .content .list table thead th:nth-child(3),
.notice .content .list table thead th:nth-child(4) {
    width: 20%;
}
.notice .content .review div p {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* ellipsis line */
    -webkit-box-orient: vertical;
}
.notice .content .review h5 a {
    color: #000;
    text-decoration: none;
}
@media (min-width: 768px) {
    .notice .content .list table {
        width: 100%;
    }
    .notice .content .list table thead th:nth-child(1),
    .notice .content .list table thead th:nth-child(5) {
        width: 11%;
    }
    .notice .content .list table thead th:nth-child(3),
    .notice .content .list table thead th:nth-child(4) {
        width: 15%;
    }
    .notice .content .list table thead th:nth-child(2) {
        width: 70%;
    }
}
/************ Gallery Deatail 페이지 ***********/
.detail .content {
    max-width: 1200px;
    margin: 0 auto;
}
.detail .content .main-swiper .swiper-slide {
    width: 100%;
    height: 20em;
}
.detail .content .main-swiper > div > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail .content .swiper-button-next {
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 55%;
    transform:  rotate(45deg);
}
.detail .content .swiper-button-prev {
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 55%;
    transform: rotate(-135deg);
}
@media (min-width: 992px) {
    .detail .content .main-swiper .swiper-slide {
        height: 25em;
    }
    .detail .content .swiper-button-next,
    .detail .content .swiper-button-prev {
        width: 15px;
        height: 15px;
    }
}